*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tabs {
    justify-content: center;
    width: 70%;
    margin: 50px auto;
    border: 3px solid #22467D;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}



label {
    width: auto;
    cursor: pointer;
    background: white;
    color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 10px;
}

@media screen and (max-width:768px){
    label{
        width: 40%;
    }
}

input{
    border-radius: 5px;
    background-color: white;
}





label:hover {
    background: #BDC8D9;
}

input:checked+label {
    background: #BDC8D9;
}

.tabs input:nth-of-type(1):checked~.panels .upload:first-child,
.tabs input:nth-of-type(2):checked~.panels .res:nth-child(2),
.tabs input:nth-of-type(4):checked~.panels .panel:last-child {
    opacity: 1;
    display: block;
}

.panels {
    border-top: 2px solid #22467D;
    border-radius: 0 0 15px 15px;
    clear: both;
    width: 100%;
    background: white;
    text-align: center;
    line-height: 40px;
    height: 500px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
}

input{
    height: 30px;
    border: 1px solid #22467D;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: bolder;
}
input[type="submit"]:hover{
    background-color: #BDC8D9;
}
.b-text{
    color: gray;
    margin-left: 20px;
}

.upload{
    width: 100%;
    opacity: 0;
    display: none;
    background: white;
    border-radius: 15px;
}

.res{
    width: 100%;
    opacity: 0;
    display: none;
    background: white;
    border-radius: 15px;
    line-height: 60px;
}
.res table{
    width: 100%;
    text-align: center;
}
.res input[type="text"]{
    width: 200px;
    margin-right: 10px;
}
.res table th{
    font-weight: bolder;
    font-size: 20px;
}

.submit{
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    height: auto;
    width: auto;
}
.submit:hover{
    background-color: #BDC8D9;
}
.nowrap{
    display: flex;
    align-items: center;
    justify-content: center;
}