*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    background-color: rgb(245, 245, 245);
    text-align: center;
    size: 30px;
    padding: 5px;
    width: 100%;
}
.mode1{
    display: flex;
}
.logopic{
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 110px;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
}
.list li{
    margin: 5px;
}


