.info{
    height: 600px;
    margin: 30px 50px 30px 50px;
    padding: 30px;
    background-color: lightblue;
}
.record-consume{
    height: 600px;
    margin: 30px 50px 30px 50px;
    padding: 30px;
    background-color: lightblue;
}
.record-review{
    height: 600px;
    margin: 30px 50px 30px 50px;
    padding: 30px;
    background-color: lightblue;
}