.detail {
    margin: 30px 150px 30px 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #22467D;
    border-radius: 15px;
}
.prdouctDetail{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}
.prdouctDetail .p-list-title{
    width:100%;
    text-align: center;
    margin: 30px 0; 
}
.prdouctDetail .p-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prdouctDetail .p-list .p-img{
    margin: 0 50px;
}
.prdouctDetail .p-list .p-img img{
    width:300px;
}
.prdouctDetail .p-list .p-text{
    margin:  0 50px;
}
.prdouctDetail .p-list .p-text div{
    margin: 15px 0;
}
.p-img:hover{
    animation: scale-up-center .4s;
}
.p-dep{
    margin: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
}
.p-name{
    font-size: 30px;
    font-weight: 700;
}
.p-price{
    font-size: 30px;
    font-weight: 700;
}
.p-num{
    font-size: 20px;
    font-weight: 700;
}
.p-text button{
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    border: 1px solid #22467D;
    cursor: pointer;
}
.p-dep .p-title{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}
.p-detail{
    margin: auto;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 2px;
} 

.p-score{
    display: flex;
    width: auto;
    margin: 30px 0 30px 0;
}

.p-score .p-title{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}

.p-score-list{
    width: 50%;
    margin-left: 30px;
}
.p-comment,.p-review{
    margin-left: 50px;
}
.p-review{
    border: black solid 2px;
    padding: 10px 30px 10px 30px;
}
.p-comment input,textarea{
    margin-top: 20px;
    border-radius: 5px solid;
    cursor: pointer;
}
hr{
    background-color: black;
    border-color: black;
}
.straight{
    background-color: black;
    border-color: black;
    height: auto;
}
.straight .p-title{
    font-size: 25px;
}

/* .p-score .p-score-text{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
} */


/* 星等 */
.rating {
    transform: rotateY(180deg);
    display: flex;
    width: 35%;
  }
  .rating input {
    display: none;
  }
  .rating label {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
  }
  .rating input:checked+label {
    background-color: transparent;
  }
  .rating label:before {
    content: '★';
    display: block;
    font-size: 25px;
    color: #ebebeb;
  }
  .rating label:after {
    content: '★';
    position: absolute;
    display: block;
    font-size: 25px;
    color: rgb(243, 213, 114);
    top: 0;
    opacity: 0;
    transition: .3s;
    text-shadow: 0;
  }
  .rating label:hover:after,
  .rating label:hover~label:after,
  .rating input:checked~label:after {
    opacity: 1;
  }
  