.series {
    margin: 0 50px 30px 50px;
    background-color: #F0EFE4;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input{
    display: none
}

label{
    width: auto;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.content {
    order: 1;
    display: none;
    width: 100%;
    padding: 10px 30px;
}
.content .list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.content .list .p-item{
    width:25%;
}
.tab input:checked+label,
.tab label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab input:checked+label+.content {
    display: initial;
}

.title{
    font-size: 20px;
    text-align: center;
}
.product_name{
    text-align: center;
}

.link-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin:30px 50px 0 50px;
    background-color:#F0EFE4 ;
}

.link-list a{
    display:block;
    text-decoration: none;
    width:120px;
    padding: 5px 20px;
    color:#000;
    border-radius: 5px;
    margin:5px;
    cursor: pointer;
    background-color: #D3D3D3;
    opacity: .5;
    text-align: center;
    font-weight: 700;
}
.link-list a:hover{
    opacity: 1;
}
.link-list a.action{
    opacity: 1;
}